.list {
    display: flex;
    gap: 1rem;

}

.listBox {
    flex: 1;
}

.listContent {
    display: flex;
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
}

.listContent header button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
}

.listContent header button:hover {
    color: var(--red-500);
}

.listContent p {
    margin-top: 1rem;
    color: var(--gray-300);
} 
 


